<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Page Title</title>
  </head>
  <body>
    <h1>Title</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" required />
      <button type="submit">Submit</button>
    </form>
    <script>
      document
        .querySelector(`button[type="submit"]`)
        .addEventListener("click", (e) => {
          const form = document.querySelector("form");
          if (!form.checkValidity()) {
            e.preventDefault();
            alert("Please select a file first");
          }
        });
    </script>
  </body>
</html>
